<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.jivesoftware.openfire.plugin.ImportExportPlugin</class>

   <name>User Import Export</name>
   <description>Enables import and export of user data</description>
   <author>${project.developers[0].name}</author>
   <version>${project.version}</version>
   <date>2025-06-23</date>
   <minServerVersion>4.4.0</minServerVersion>
   <minJavaVersion>11</minJavaVersion>

   <adminconsole>
      <tab id="tab-users">
         <sidebar id="user-import-export" name="Import &amp; Export">
            <item id="export-user-data" name="Export user data"
                  url="export-user-data.jsp"
                  description="Allows the exporting of Openfire user data." />
            <item id="import-user-data" name="Import user data"
                  url="import-user-data.jsp"
                  description="Allows the importing of Openfire user data." />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
